<div class="photo"> 
    <a href="/themes/<%= theme.id %>/photos/<%= photo.id %>">
        <img src="/images/<%= photo.image %>">
        <p><%= photo.title %></p>
    </a>
    <button onClick="location.href='/themes/<%=theme.id%>/photos/<%= photo.id %>/delete'">delete photo</button>
</div>